<h1>Listing testers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @testers.each do |tester| %>
  <tr>
    <td><%= tester.name %></td>
    <td><%= tester.email %></td>
    <td><%= link_to 'Show', tester %></td>
    <td><%= link_to 'Edit', edit_tester_path(tester) %></td>
    <td><%= link_to 'Destroy', tester, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tester', new_tester_path %>
